<div class="container">
    <h1>Hello!</h1>
    <p class="lead">My name is Michael Zhebov and this is my project.</p>
    <p class="lead">On this site you can register as a company or customer. The company create discount coupons, and
        customer buy them.
        Companies can add, edit and delete coupons.
        Customers can buy coupons and use them.
        Admin can view the lists of customers and the company, modify and delete them. It can also create new users.
        Everyone can change their profile.</p>
    <p class="lead">On this project I used the following technologies:</p>
    <table>
        <tr>
            <td>
                <ul class="lead">
                    <li>Spring Boot</li>
                </ul>
            </td>
            <td>
                <ul class="lead">
                    <li>Spring JPA</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="lead">
                    <li>Spring Web</li>
                </ul>
            </td>
            <td>
                <ul class="lead">
                    <li>Spring Security</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="lead">
                    <li>JWT Token</li>
                </ul>
            </td>
            <td>
                <ul class="lead">
                    <li>PostgreSQL</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="lead">
                    <li>Heroku</li>
                </ul>
            </td>
            <td>
                <ul class="lead">
                    <li>Angular 8</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="lead">
                    <li>Angular Material</li>
                </ul>
            </td>
            <td>
                <ul class="lead">
                    <li>Angular Notifier</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="lead">
                    <li>Bootstrap 4</li>
                </ul>
            </td>
            <td>
                <ul class="lead">
                </ul>
            </td>
        </tr>
    </table>
</div>