<div class="container">
    <h1>Hello!</h1>
    <p class="lead">My name is Michael Zhebov and this is my project.</p>
    <p class="lead">On this site you can register as a company or client. The company creates discount coupons, and
        customers buy them.
        Companies can edit and delete coupons.
        Both clients and companies can edit the profile.</p>
    <p class="lead">On this project I used the following technologies:</p>
    <ul class="lead">
        <li>Spring Boot</li>
        <li>Spring JPA</li>
        <li>Spring Web</li>
        <li>Spring Security</li>
        <li>JWT Token</li>
        <li>PostgreSQL</li>
        <li>Heroku</li>
        <li>Angular</li>
        <li>Angular Material</li>
        <li>Bootstrap</li>
    </ul>
</div>