<footer class="footer">
    <div class="container">
        <br>
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <!--Github-->
                <div class="social github">
                    <a href="https://github.com/MichaelZhebov" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                </div>
            </li>
            <li class="list-inline-item">
                <!--Linkedin-->
                <div class="social linkedin">
                    <a href="https://www.linkedin.com/in/mzhebov/" target="_blank"><i
                            class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </li>
            <li class="list-inline-item">
                <!--Facebook-->
                <div class="social facebook">
                    <a href="https://www.facebook.com/mzhebov" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                </div>
            </li>
            <li class="list-inline-item">
                <!--WhatsApp-->
                <div class="social whatsapp">
                    <a href="https://wa.me/972539340556" target="_blank"><i class="fa fa-whatsapp fa-2x"></i></a>
                </div>
            </li>
            <li class="list-inline-item">
                <!--Telegramm-->
                <div class="social telegram">
                    <a href="https://t.me/MichaelZhebov" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
                </div>
            </li>
        </ul>
        <!-- Social buttons -->
    </div>
</footer>