<div class="mt-3 container table-responsive">
  
  <table class="table table-hover text-break test-wrap">
    <thead>
      <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies | async">
        <td>{{company.id}}</td>
        <td>{{company.fullName}}</td>
        <td>{{company.email}}</td>
        <td>
          <mat-slide-toggle class="" [color]="'primary'" [disabled]='true' [checked]="company.active"
            [(ngModel)]="company.active" name="active">
          </mat-slide-toggle>
        </td>
        <!-- <td><input *ngIf="company.active; else elseBlock" type="checkbox" class="" id="customCheck1" checked disabled>
            <ng-template #elseBlock><input type="checkbox" class="" id="customCheck1" disabled></ng-template></td> -->
        <td>
          <button (click)='openDialog(company.id)' class="btn mr-1 btn-danger">Delete</button>
          <button (click)='UserUpdate(company.id, company.role)' class="btn mr-1 btn-success butt">Update</button>
          <button (click)='UserDetails(company.id, company.role)' class="btn mr-1 btn-info butt">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>