<div class="container col-lg-6 mt-3">
  <h1 class="text-center">Please Sing in</h1>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="loginForm" class="form-group" (ngSubmit)="onFormSubmit(loginForm.value)">
        <div class="form-group">
          <label for="email">Email :</label>
          <input matInput type="email" class="form-control" placeholder="Enter Email" formControlName="email"
          [errorStateMatcher]="matcher">
          <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="text-danger small">Please enter your email</span>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input matInput type="password" class="form-control" placeholder="Enter Password" formControlName="password"
          [errorStateMatcher]="matcher">
          <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="text-danger small">Please enter your password</span>
        </div>
        
        <div class="d-flex justify-content-between">
          <div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Login</button>
          </div>
          <div>
            <a routerLink="/register" routerLinkActive="active" class="btn btn-primary">Create Account</a>
          </div>
     </div>
      </form>
    </div>
  </div>
</div>