<div class="mt-5">
    <div class="container">
    <h1 class="display-6">Hello {{userName}}!</h1>  
    <!-- Your role is: {{user.role}} -->
        <div class="mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of companies in the system
                    <span class="badge badge-primary badge-pill">{{companiesCount}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of coupons in the system
                    <span class="badge badge-primary badge-pill">{{couponsCount}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of customers in the system
                    <span class="badge badge-primary badge-pill">{{customersCount}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of transactions in the system
                    <span class="badge badge-primary badge-pill">{{transactionsCount}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
